.formlayout{
   
        // padding: 1em 2em;
        margin-left: 10%;
        margin-right: 10%;
        // background: #41505d;
        // box-shadow: 0px 0px 0px 10px #d6ebff;
        // border: dashed 2px white;
 
    
}




.bbs {
        width: 100%;
        margin: 10px auto;
      }
      
      .bbs__heading {
        display: block;
        justify-content:center;
        margin: 0px;
      }
      
      .bbs__main {
        display: block;
        border: 3px solid rgba(62, 46, 46, 0.5);
        margin: 0 20px 20px 0px;
        padding: 15px;
        border-radius: 10px;
        background: -webkit-repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);
        background: repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);
    
      }
      .bbs__title {
        flex: 4;
        margin-right: 1px;
       
      }
      
      .bbs__tag {
        opacity: 0.5;
      }
      
      .bbs__img {
        object-fit: contain;
        width: 100%;
        border-radius: 5px;
        max-height: 100px;
        margin-right: 10px;
        flex: 1;
      }
    
    
      .span  p{
        padding: 0.5em 1em;
        margin: 2em 0;
        border: double 5px #4ec4d3;
    
        margin: 0; 
        padding: 0;
    }
    
    
    .tagbox {
        padding: 0em 0em;
        width: fit-content;
        margin-right: 8px;
        margin-bottom: 8px;
        color: #080000;//文字色
        background: #fff8e8;//タグ背景（右側の部分）
        border-left: solid 5px #ffc06e;//タグのボーダー線
        font-weight: bold;
    }
    
    .titlebox{
      border-bottom: 1px solid #190909;
    }
    
    
    .tagContainer {
      display: flex;
      flex-wrap: wrap;
    }
    
    
    .pagebtn{
      // display: block;
      // justify-content: space-between;
      // align-items: center;
      margin: 0 auto;
      padding: 1em 0em;
      width: 100px;
      color: #333;
      font-size: 9px;
      font-weight: 900;
      background-color: #f5eded;
      box-shadow: 0 3px 0 #c9c7c7;
      transition: 0.3s;
    }
    .pagebtn a::after {
      content: '';
      width: 5px;
      height: 5px;
      border-top: 3px solid #333333;
      border-right: 3px solid #333333;
      transform: rotate(45deg);
    }
    .pagebtn a:hover {
      transform: translateY(2px);
      text-decoration: none;
      box-shadow: 0 2px 0 #aaaaaa;
    }


    .tagGrid {
      display: grid;
      grid-template-columns: repeat(3, 1fr); /* 3つのカラムを作成 */
      grid-gap: 1px; /* カラム間のスペースを設定 */
    }

    .tagGrid2 {
      display: grid;
      grid-template-columns: repeat(4, 1fr); /* 5つのカラムを作成 */
      grid-gap: 1px; /* カラム間のスペースを設定 */
    }


    .checkbtn{
      appearance:none;
      width:30px;
      height:16px;
      border:1px solid #120c0c;
      border-radius:2px;
      background:#141414;
      position:relative;
      overflow:hidden;
      vertical-align:middle;
      transition: background 0.3s;
      box-sizing:border-box;
    }
    .checkbtn:after{
      content:'';
      position:absolute;
      top:-1px;
      left:-1px;
      width:14px;
      height:14px;
      background:white;
      border:1px solid #aaa;
      border-radius:2px;
      transition: left 0.1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    }
    .checkbtn:checked{
      background:#f39511;
      border-color:#010710;
    }
    .checkbtn:checked:after{
      left:14px;
      border-color:#8daee5;
    }

    .tagnamesize{
      font-size: 13px;
      font-weight: 500;
    }