.container {
    width: 100px;
    padding: 20px 0 0 20px;
  }
  
  .contents {
    list-style-type: none;
    height: auto;
    
    >li {
      margin-bottom: 10px;/*文字の下幅*/
      opacity: 0.7;
      color: rgb(19, 15, 15);
      >a {
        display: block;
        >span {
          margin-left: 30px;
          line-height: 20px;
          font-weight: bold;
        }
      }
      &:hover {
        opacity: 2.0;
      }
    }
  }

  .button{
    width: 100px;
    color: azure;
    justify-content: center;
  }